{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    {% include "home/navbar.html" %}
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            {% if page.cover_image %}
            <div class="mb-4">
                {% image page.cover_image fill-1200x600 class="img-fluid rounded" %}
            </div>
            {% endif %}
            {% if page.title %}
            <h1 class="mb-3 text-center">{{ page.title }}</h1>
            {% endif %}
            <div class="d-flex flex-wrap gap-2 justify-content-center text-muted mb-4">
                {% if page.category %}
                <span>{{ page.category }}</span>
                <span>•</span>
                {% endif %}
                <span>{{ page.reading_time }} min de leitura</span>
                {% if page.first_published_at %}
                <span>•</span>
                <span>{{ page.first_published_at|date:"d/m/Y" }}</span>
                {% endif %}
            </div>
            {% if page.content %}
            <div class="blog-content">
                {{ page.content|richtext }}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
